@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


@theme {
    --font-display: "Space Grotesk", "sans-serif";


    --color-white: #ffffff;
    --color-gray: #d9d9d9;
    --color-gray-dark: #242424;
    --color-black: #151515;
    --color-primary: #ffa652;
}

@layer base {
    * {
        font-family: var(--font-display);
    }
}

@layer components {
    .heading-xl {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
        font-weight: 700;
    }

    .heading-l {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -1.5px;
        font-weight: 700;
    }

    .heading-m {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }

    .body-l {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
    }
}